src/main/app/healthier-prices-dataload.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http"  xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    
    <mongo:config database="${database.name}" doc:name="Mongo DB" name="Mongo_DB" password="${database.password}" username="${database.user}" host="${database.host}" port="${database.port}">
        <mongo:connection-pooling-profile exhaustedAction="WHEN_EXHAUSTED_GROW" initialisationPolicy="INITIALISE_ONE"/>
    </mongo:config>
    <http:request-config name="ElasticSearch_Rest_Configuration" host="${elastic.host}" port="${elastic.port}" doc:name="HTTP Request Configuration" />
     
    <flow  name="load-products">
    	<file:inbound-endpoint doc:name="Poll files" metadata:id="d465231a-3a94-4460-acce-174c73019323" path="src/main/resources/input" responseTimeout="10000"/>
		<dw:transform-message doc:name="CSV to Map" metadata:id="f7d8c6e6-a84d-464c-b438-ee911aded909">
            <dw:input-payload doc:sample="HP_Testdata.csv"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map
{
	id: $.PRODUCTCODE,
	descr: $.PRODUCT,
	short: $.SHORTDESCRIPTION,
	quantity: $.QUANTITY,
	brand: $.BRAND,
	manufacturer: $.MANUFACTURER,
	category: $.CATEGORY,
	price: $.RRP	
}]]></dw:set-payload>
        </dw:transform-message>
        <foreach doc:name="For Each">
            <json:object-to-json-transformer doc:name="Object to JSON"/>
            <logger message="saving object: #[payload]" level="INFO" doc:name="Log object to save"/>
            <http:request config-ref="ElasticSearch_Rest_Configuration" path="/healthierprices/products" method="POST" doc:name="Send to Products index"/>
        </foreach>
    </flow>

    <flow  name="load-keywords">
    	<file:inbound-endpoint doc:name="Poll files" path="src/main/resources/inputkeys" responseTimeout="10000"/>
		<dw:transform-message doc:name="CSV to Map" >
            <dw:input-payload/>
            <dw:set-payload><![CDATA[%dw 1.0

%output application/java
---
payload map
{
 name : $.PRODUCT,
 suggest : 
 {
   input : [$.KEYWORD],
   weight : 34
 }
}
]]></dw:set-payload>
        </dw:transform-message>
        <foreach doc:name="For Each">
            <json:object-to-json-transformer doc:name="Object to JSON"/>
            <logger message="saving objects: #[payload]" level="INFO" doc:name="Log objects to save"/>
            <http:request config-ref="ElasticSearch_Rest_Configuration" path="keywords/keyword?refresh=true" method="POST" doc:name="Send to Keywords index"/>
        </foreach>
    </flow>    
</mule>